*.class
*.diff
*.patch
/.svn
.DS_Store
/*.iml
/*.ipr
/*.iws
/*.jar
/.classpath
/.idea
/.project
/.settings
/bin
/temp/*
/scripts/
/temp.txt
/build.xml
/manifest.mf
/nbproject
ggj/rooms/room0/room0.yy
*.yy
ggj/rooms/room0/room0.yy